.home {
    --bd-purple: #4e845b;
    --bd-violet: #6e8e7b;
    --bd-accent: #84a5ff;
    --bd-violet-rgb: 112.520718,44.062154,249.437846;
    --bd-accent-rgb: 255,228,132;
    --bd-pink-rgb: 214,51,132;

    .bd-masthead {
        padding: 3rem 0;
        background-image: 
            linear-gradient(180deg, rgba(255, 255, 255, 0.01), rgba(255, 255, 255, 1) 85%), /* soft white */
            radial-gradient(ellipse at top left, rgba(0, 150, 136, 0.5), transparent 50%), /* green */
            radial-gradient(ellipse at top right, rgba(255, 193, 7, 0.5), transparent 50%), /* yellow */
            radial-gradient(ellipse at center right, rgba(33, 150, 243, 0.5), transparent 50%), /* blue */
            radial-gradient(ellipse at center left, rgba(76, 175, 80, 0.5), transparent 50%); /* light green */
    }

    .btn-bd-primary {
        --bs-btn-font-weight: 600;
        --bs-btn-color: var(--bs-white);
        --bs-btn-bg: var(--bd-violet);
        --bs-btn-border-color: var(--bd-violet);
        --bs-btn-border-radius: .5rem;
        --bs-btn-hover-color: var(--bs-white);
        --bs-btn-hover-bg: #aeceab;
        --bs-btn-hover-border-color: #aeceab;
        --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
        --bs-btn-active-color: var(--bs-btn-hover-color);
        --bs-btn-active-bg: #6e8e7b;
        --bs-btn-active-border-color: #6e8e7b;
    }
}

.navbar {
    @extend .navbar-dark;

    --bd-violet-rgb: 110, 142, 123;
    
    padding: .75rem 0;
    background-color: transparent;
    background-image: linear-gradient(to bottom, rgba(var(--bd-violet-rgb), 1), rgba(var(--bd-violet-rgb), 0.95));
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15),inset 0 -1px 0 rgba(0,0,0,0.15);
}

.text-violet {
    color: #6528e0;
}

.list {
    .card {
        transition: transform 0.2s ease-in-out;

        &:hover {
            transform: scale(1.01);
        }
    }
}

.navbar-brand {
    transition: transform 0.2s ease-in-out;

    &:hover {
        transform: rotate(-2deg) scale(1.1);
    }
}
