<!-- Featueres section -->

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <img src="{{ (resources.Get `custom/ssf1.png`).RelPermalink }}" width="150" height="150" alt="Quick Expense Feature Icon">
        <h2 class="h2">Expense Logging 📝<small class="d-none"></small></h2>
        <p>Quickly add expenses with amount, date, and category for effortless tracking.</p>
    </div>
    <div class="col-lg-4">
        <img src="{{ (resources.Get `custom/ssf2.png`).RelPermalink }}" width="150" height="150" alt="Custom Categories Feature Icon">
        <h2 class="h2">Custom Categories & Tags 🏷️<small class="d-none">🚀</small></h2>
        <p>Organize expenses your way with personalized categories and tags.</p>
    </div>
    <div class="col-lg-4">
        <img src="{{ (resources.Get `custom/ssf3.png`).RelPermalink }}" width="150" height="150" alt="Budget Notification Feature Icon">
        <h2 class="h2">Budget Alerts ❗<small class="d-none">📈</small></h2>
        <p>Set monthly budgets and receive alerts before overspending.</p>
    </div>
</div>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <h2 class="h2">Visual Expense Insights 📊<small class="d-none">🦉</small></h2>
        <p>Analyze your spending in new ways with interactive charts and trend reports.</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Automate Recurring Expenses 🔁<small class="d-none">✨</small></h2>
        <p>Track subscriptions and bills automatically– no manual entry needed!</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Receipt Capture & Storage 🧾<small class="d-none">🧰</small></h2>
        <p>Attach photos of receipts for easy record-keeping and reimbursements.</p>
    </div>
</div>
